{% include 'partials/start.html' %}

<h1 id="log-heading" style="margin:2%;display:inline-block;">{{name}}</h1>
<h3  style="margin:2%;display:inline-block;">Edit</h3>


<div class="script-container" style="font-size: 1em;">
    <table class="table  table-success">
        <thead >
          <thead>
            <tr>
              <th scope="col">Actions</th>
              <th>Time</th>
              <th>BreakPrice</th>
              <th>Quantity</th>
              <th>Remove</th>
              <th></th>
            </tr>
          </thead>
        </thead>
        <tbody>
            {% for e in actions %}
            <tr>
              <td>{{e['action']}} </td> 
              <td>{{e['time']}}</td>
              <td>{{e['breakprice']}}</td>
              <td>{{e['qty']}}</td>
              <td>
                <form  class="scrip-action" action="/removeaction" method="post" target="_blank">
                    <input type="hidden" name="scripcode" value="{{name}}" class="hidden-scripcode"/>
                    <input type="hidden" name="action_index" value="{{loop.index-1}}" class="hidden-scripcode"/>
                    <button>Remove</button>
                </form>
              </td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
</div>

    
</body> 
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
